---
import { activities } from "../data";
import Button from "./Button.astro";
---

<div
  class="mx-auto mt-8 md:mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
>
  {
    activities.map((activity) => (
      <div class="flex flex-col items-start justify-between bg-gray-50/80 dark:bg-zinc-800/40 rounded-2xl overflow-hidden">
        <div class="relative w-full">
          <img
            src={activity.image}
            alt=""
            class="aspect-[16/9] w-full rounded-2xl object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
          />
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10" />
        </div>
        <div class="max-w-xl p-4">
          <div class="relative">
            <h3 class="mt-5 text-lg font-semibold leading-6 text-gray-900 dark:text-gray-50">
              {activity.title}
            </h3>
            <p class="mt-5 text-sm leading-6 text-gray-600 dark:text-gray-400">
              {activity.description}
            </p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4 pb-4 border-t-2 py-8 border-gray-200 dark:border-zinc-800/80">
            <Button
              href={activity.href}
              text={activity.buttonDesc}
            />
          </div>
        </div>
      </div>
    ))
  }
</div>
