---
import { Image } from "astro:assets";
import { activities } from "../data";
---

<div
  class="mt-8 md:mt-16 grid max-w-2xl grid-cols-1 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
>
  {
    activities.map((activity) => (
      <div class="grid md:mx-auto max-w-sm bg-gray-100 rounded-[20px] overflow-hidden shadow-custom">
        <div>
          <Image
            src={activity.image}
            alt={activity.title}
            class="aspect-[16/9] w-full rounded object-cover sm:aspect-[2/1] lg:aspect-[3/2]"
            width={400}
            height={400}
          />
        </div>
        <div class="p-10 w-full">
          <h3 class="text-[#111928] font-semibold text-2xl">
            {activity.title}
          </h3>
          <p class="mt-4 text-base text-light text-primaryText mb-10">
            {activity.description}
          </p>
          <a
            href={activity.href}
            class="px-7 py-3.5 border-2 border-darkBg text-darkBg hover:bg-darkBg hover:text-white transition block text-center"
          >
            Află mai multe
          </a>
        </div>
      </div>
    ))
  }
</div>
