---
import { type CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Post from "./Post.astro";

const posts = await getCollection("posts");
---

<div class="gradient py-24 sm:py-36 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <h2
      class="text-3xl tracking-tight font-semibold text-accent sm:text-4xl px-6 lg:px-8"
    >
      Blog
    </h2>
    <p
      class="mt-3 text-lg font-light text-gray-700 px-6 lg:px-8 mb-12 sm:mb-24"
    >
      Fii la curent cu ultimele noutăți din industrie, inspiră-te sau găsește
      noi oportunități de dezvoltare pe plan local!
    </p>
    <div
      class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 px-6 sm:gap-y-16 lg:grid-cols-2 lg:px-8 relative"
    >
      <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg z-10">
        <time
          datetime="2020-03-16"
          class="block text-sm leading-6 text-gray-600"
          >{posts[0].data.pubDate}</time
        >
        <h2
          id="featured-post"
          class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          {posts[0].data.title}
        </h2>
        <p class="mt-4 text-lg leading-8 text-gray-600">
          {posts[0].data.description}
        </p>
        <div
          class="mt-4 flex flex-col justify-between gap-6 sm:mt-8 sm:flex-row-reverse sm:gap-8 lg:mt-4 lg:flex-col"
        >
          <div class="flex">
            <a
              href={`/posts/${posts[0].slug}`}
              class="text-sm font-semibold leading-6 text-accent hover:text-accent/60 transition"
              aria-describedby="featured-post"
              >Citește în continuare <span aria-hidden="true">&rarr;</span></a
            >
          </div>
          <div class="flex lg:border-t lg:border-gray-900/10 lg:pt-8">
            <div
              class="flex gap-x-2.5 text-sm font-semibold leading-6 text-gray-900"
            >
              <img
                src={posts[0].data.image}
                alt=""
                class="h-6 w-6 flex-none rounded-full bg-gray-50"
              />
              {posts[0].data.author}
            </div>
          </div>
        </div>
      </article>
      <div
        class="mx-auto w-full max-w-2xl border-t z-10 border-gray-900/10 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0"
      >
        <div class="-my-12 divide-y divide-gray-900/10">
          {posts.slice(1).map((post) => <Post post={post} />)}
        </div>
      </div>
    </div>
  </div>
</div>
