---
import { type CollectionEntry } from "astro:content";
type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<article class="py-12 sm:px-8 border-b-2">
  <div class="group relative max-w-xl">
    <div class="mt-4 flex gap-x-4">
      <div
        class="relative flex gap-x-2.5 text-sm font-semibold leading-6 text-gray-900"
      >
        <img
          src={post.data.image}
          alt=""
          class="h-6 w-6 flex-none rounded-full bg-gray-50"
        />
        {post.data.author}
      </div>
      <time
        datetime="2020-03-16"
        class="block text-sm leading-6 text-gray-600"
        >{post.data.pubDate}</time
      >
    </div>
    <h2 class="mt-4 text-lg font-semibold text-gray-900">
      <a href={`/posts/${post.slug}`}>
        <span class="absolute inset-0"></span>
        {post.data.title}
      </a>
    </h2>
    <p class="mt-2 text-sm leading-6 text-gray-600">
      {post.data.description}
    </p>
  </div>
</article>
