---
import { projects } from "../data";
import Button from "./Button.astro";
---

<ul
  role="list"
  class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-6 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-8"
>
  {projects.map((project) => (
      <li class="group rounded-2xl bg-white/10 relative overflow-hidden shadow aspect-[5/7] ">
        <img
          src={project.bg}
          class="w-full h-80 brightness-50 object-cover"
        />
        <div class=" px-4 md:px-5 py-4 flex items-center gap-x-2">
        
          <div>
            <div class="flex items-center gap-x-2">
            <a
              href={project.link}
              class="text-base font-medium leading-7 tracking-tight text-gray-900 dark:text-gray-50 hover:underline transition shadow-myShadow"
            >
              {project.name}
            </a></div>
            <p class="mt-2 text-base leading-6 text-gray-600 dark:text-gray-300">{project.description}</p>
            <p class="mt-4">
              <span class="text-gray-600 dark:text-gray-400 font-medium">Realizat de:</span>
              <a href={project.developerLink} class="text-sm leading-6 font-semibold text-accentHover hover:text-accentHover/80 transition">
                  {project.developer}
              </a>
            </p>
          </div> 
      </li>
    ))
  }
</ul>
