---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import diffusion_black from "../../public/diffusion_black.png";
import diffusion_white from "../../public/diffusion_white.png";
import ai3 from "../../public/ai3.svg";
import ai3_white from "../../public/ai3_white.svg";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
    </script>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="AI3 este o comunitate de pasionați de tehnologie, antreprenori și inovatori pasionați de construirea unui ecosistem tehnologic înfloritor în Alba. Suntem un grup divers de oameni cu medii și experiențe diferite, dar împărtășim cu toții aceeași viziune: să facem din Alba un loc mai bun pentru a trăi și a lucra."
    />
    <meta
      property="og:description"
      content="AI3 este o comunitate de pasionați de tehnologie, antreprenori și inovatori pasionați de construirea unui ecosistem tehnologic înfloritor în Alba. Suntem un grup divers de oameni cu medii și experiențe diferite, dar împărtășim cu toții aceeași viziune: să facem din Alba un loc mai bun pentru a trăi și a lucra."
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:url"
      content="https://ai3.ro"
    />
    <meta
      property="og:title"
      content={title}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/ai3_white.svg"
    />
    <title>{title}</title>
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-zinc-50 dark:bg-darkBg">
    <div class="hidden dark:block">
      <Navbar
        classes="dark:text-gray-100 hidden dark:block"
        difffusionLogo={diffusion_black}
        ai3Logo={ai3_white}
      />
    </div>
    <div class="dark:hidden">
      <Navbar
        classes="text-gray-900 block dark:hidden"
        difffusionLogo={diffusion_white}
        ai3Logo={ai3}
      />
    </div>
    <div
      class="mx-auto max-w-7xl bg-white ring-1 ring-zinc-100 dark:bg-darkBg/90 dark:ring-darkBg sm:pt-24 px-4"
    >
      <slot />
      <Footer />
    </div>
  </body>
</html>
<style is:global>
  :root {
    background-color: inherit;
  }
  html {
    font-family: "Open Sans", sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
